body {
	font-family: Open Sans;
	margin: 0;
}

body img {
	width: 100px;
	border-radius: 50%;
	height: 100px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
}